<div class="sidebar">
  <div class="logo">
    <i class="fas fa-graduation-cap"></i>
    EduManager
  </div>

  <div class="nav-item" routerLink="/dashboard" routerLinkActive="active">
    <i class="fas fa-chart-pie"></i>
    Dashboard
  </div>
  <div class="nav-item" routerLink="/students" routerLinkActive="active">
    <i class="fas fa-users"></i>
    Students
  </div>
  <div class="nav-item" routerLink="/courses" routerLinkActive="active">
    <i class="fas fa-book"></i>
    Courses
  </div>
</div>